<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        [v-cloak] {
            display: none;
        }
        
        #app {
            margin-left: 800px;
        }
    </style>
</head>
    <body>

        <div id="app">
            
            <input v-model="newReminder" id="reminder-title" type="text"> <!-- v-model="newReminder.title" -->
            <!-- <br><input v-model="newReminder.date" id="reminder-date" type="date">
            <br><input v-model="newReminder.time" id="reminder-time" type="time"> -->
    
            <p v-cloak>{{ newReminder }}</p> <!-- reminderItem ? reminderItem : 'Введите дату и время' -->
            <button v-cloak v-show="newReminder" v-on:click="addReminder">Set Reminder</button> <!-- v-show="reminderItem" -->

        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="main.js"></script>
    </body>
</html>
