.wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 100vh;
    padding: 2vmax;
    background: darkcyan;
}

.clock-wrap {
    display: flex;

    border: solid 2px black;
    padding: 0.5vmax;
    font-size: 2.5vmax;
    background-color: lightblue;
}

.date, .time {
    padding: 0.5vmax;

    display: flex;
    justify-content: center;
    align-items: center;
}

.reminder-form {
    display: flex;
    flex-direction: column;
}

.reminder-form > * {
    margin-top: 2vmin;
}